/* CUSTOM PROPERTY*/

:root {

  /* colors */
  --white: hsla(0, 0%, 100%, 1);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --cultured: hsla(220, 20%, 97%, 1);
  --snow: hsla(345, 57%, 97%, 1);
  --manatee: hsla(219, 10%, 62%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --cinnamon-satin: hsla(344, 53%, 62%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
  --gunmetal: hsla(214, 15%, 21%, 1);
  --charcoal: hsla(219, 22%, 26%, 1);

  /* typography */
  --ff-manrope: 'Manrope', sans-serif;
  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: calc(2.6rem + .24vw);
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;  
  --fw-700: 700;

  /** spacing */
  --section-padding: 100px;

  /** box shadow */
  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);

  /** border radius */
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;

  /** transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}


/* #RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
}

img { height: auto; }

input, button,textarea {
  background: none;
  border: none;
  font: inherit;
}

input,textarea { width: 100%; }

button { cursor: pointer; }


html {
  font-family: var(--ff-manrope);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}


/*  #REUSED STYLE */
.container { 
  padding-inline: 16px; 
  margin-inline: auto;
  max-width: 1000px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link{
  font-size: 2rem;
  transition: var(--transition-1);
}

ion-icon:is(:hover, :focus-visible){ transform: translateY(-3px); }

.section { padding-block: var(--section-padding); }

.w-100 { width: 100%; }

.h1, .h2, .h3, .h4 {
  color: var(--charcoal);
  line-height: 1.3;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.btn {
  color: var(--cinnamon-satin);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--cinnamon-satin);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) { transform: translateY(-4px); }

.btn-primary, .btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--cinnamon-satin);
  color: var(--white);
}

.section-text { font-size: var(--fs-5); }

.section-title { margin-block-end: 16px; }

.grid-list {
  display: grid;
  gap: 30px;
}


[data-reveal] {
  opacity: 0;
  transition: 0.75s ease;
}

[data-reveal="top"] { transform: translateY(-30px); }
[data-reveal="bottom"] { transform: translateY(30px); }
[data-reveal="left"] { transform: translateX(-30px); }
[data-reveal="right"] { transform: translateX(30px); }
[data-reveal].revealed {
  transform: translate(0);
  opacity: 1;
}



/* HEADER */
.header {
  position: fixed; 
  top: 45px; 
  left: 50%;
  background-color: var(--white);
  width: 100%;
  max-width: 1100px;
  padding-block: 20px;
  padding-inline: 16px;
  box-shadow: var(--shadow-1);
  transform: translateX(-50%);
  border-radius: var(--radius-8);
  z-index: 10; 
}



.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-link {
  font-weight: var(--fw-700);
  padding-block: 6px;
  color: var(--charcoal);
  transition: var(--transition-1);
}


.navbar, .navbar.active {
  display: flex;
  flex-grow: 1;
}

.navbar-list {
  display: flex;
  gap: 36px;
  margin-inline: auto;
}

.navbar-link:is(:hover, :focus-visible) { color: var(--cinnamon-satin); }

.navbar .social-link {
  color: var(--charcoal);
  font-size: 1.8rem;
}


.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none; 
  transform: none; 
}


/* HERO */

.hero {
  padding-block-start: calc(var(--section-padding) + 100px);
  background-color: var(--cultured);
}

.hero .container {
  display: grid;
  gap: 50px;
  grid-template-columns: 0.8fr 1fr;
}


.hero-banner .w-100 {
  mask-image: url("../images/Blob.svg");
  -webkit-mask-image: url("../images/Blog.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.hero .section-text { margin-block: 24px 36px; }

.hero-content { 
  text-align: left; 
  margin-top: 50px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero .btn-wrapper { justify-content: flex-start; }




/* ABOUT */

.about .wrapper {
  display: grid;
  gap: 50px;
  margin-block-end: 70px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.progress-list .label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-end: 4px;
}

.progress-item { margin-block-end: 15px; }

.progress {
  background-color: var(--raisin-black_a6);
  height: 6px;
  width: 100%;
  border-radius: var(--radius-pill);
  overflow: hidden;
}

.progress-fill { height: inherit; }

.about-card { text-align: center; }

.about-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
}

.about-card .card-title { margin-block: 16px 10px; }


.about .grid-list { grid-template-columns: repeat(4, 1fr); }




/* PROJECTS */

.project { border-block: 1px solid var(--cadet-blue-crayola_a20); }

.project .title-wrapper { 
  margin-block-end: 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.project .btn { margin-block-start: 24px; }

.project-card {
  --padding: 24px;

  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border-radius: var(--radius-8);
}

.project-card-1, .project-card-2 { 
  padding: var(--padding);
  flex-direction: row;
  align-items: flex-end;
 }

.project-card .card-tag {
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.project-card .card-title { margin-block: 16px; }

.project-card .card-text { margin-block-end: 20px; }

.project-card .btn-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.project-card .btn-text:is(:hover, :focus-visible) { gap: 10px; }


:is(.project-card-1, .project-card-2) .card-content { width: 120.33%; }
.project-card-1 .card-content { padding-block-end: var(--padding); }
.project-card-2 .card-content { order: 1; }




/* CONTACT */

.contact { padding-block-end: 0; }

.contact-card {
  background-color: var(--snow);
  padding: 68px;
  border-radius: var(--radius-8);
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  gap: 90px;
}


.contact .section-title { 
  margin-block-start: 20px; 
  --fs-5: 1.8rem;
}

.input-field {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: var(--fs-7);
  padding: 14px 18px;
  border-radius: var(--radius-6);
  outline: none;
  margin-block-end: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-field::placeholder { color: var(--manatee); }

textarea.input-field {
  min-height: 120px;
  height: 120px;
  max-height: 240px;
  resize: vertical;
}



/* FOOTER */

.footer { padding-block: 40px; }
.copyright { margin-block-end: 0; }
.footer .social-link { color: var(--charcoal); }
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.footer .copyright span{
  color: var(--cinnamon-satin);
}